
<div class="container mt-4">
	<div class="row">
		<div class="col-md-6 customCard" id="chart">
			<div class="row topDiv"></div>
			{{!-- <br> --}}
			<div class="row">
				<div class="col-md-3 m-0 mb-4 p-0">
					<div class="col-md-12 topLabelBlank sticky-top"></div>
					<div class="col-md-12 pt-1 p-0 js-labels" id="labels"></div>
				</div>
				<div class="col-md-2 ml-1 mb-4 p-0">
					<div class="col-md-12 topLabel sticky-top indexLabel">
						<div class="row">
							<div class="col-md-1 m-0 p-0">
								<svg class="sortIcon sorted">
									<image xlink:href="/images/sortAsc.svg" x="6" y="2" height="12px" width="12px" opacity="0.8"/>
								</svg>
							</div>
							<div class="col-md-9 m-0 p-0">
								<p>2017 RGI composite</p>
							</div>	
						</div>
					</div>
					<div class="col-md-12 pt-1 p-0 customCard js-index" id="index"></div>
				</div>
				<div class="col-md-2 ml-4 mb-4 p-0">
					<div class="col-md-12 topLabel sticky-top valueLabel">
						<div class="row">
							<div class="col-md-1 m-0 p-0">
								<svg class="sortIcon">
									<image xlink:href="/images/sortAsc.svg" x="6" y="2" height="12px" width="12px" opacity="0.8"/>
								</svg>
							</div>
							<div class="col-md-9 m-0 p-0">
								<p>Value realization</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 pt-1 p-0 customCard js-valueRealization" id="valueRealization"></div>
				</div>
				<div class="col-md-2 ml-1 mb-4 p-0">
					<div class="col-md-12 topLabel sticky-top revenueLabel">
						<div class="row">
							<div class="col-md-1 m-0 p-0">
								<svg class="sortIcon">
									<image xlink:href="/images/sortAsc.svg" x="3" y="2" height="12px" width="12px" opacity="0.8"/>
								</svg>
							</div>
							<div class="col-md-9 m-0 p-0">
								<p>Revenue management</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 pt-1 p-0 customCard js-revenueManagement" id="revenueManagement"></div>
				</div>
				<div class="col-md-2 ml-1 mb-4 p-0">
					<div class="col-md-12 topLabel sticky-top enablingLabel">
						<div class="row">
							<div class="col-md-1 m-0 p-0">
								<svg class="sortIcon">
									<image xlink:href="/images/sortAsc.svg" x="3" y="2" height="12px" width="12px" opacity="0.8"/>
								</svg>
							</div>
							<div class="col-md-9 m-0 p-0">
								<p>Enabling environment</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 pt-1 p-0 customCard js-enablingEnvironment" id="enablingEnvironment"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 pl-4" id="countryContent">
		</div>
	</div>
</div>
