<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/tool-tip-style.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' />
    <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
  </head>
  <body>
    {{{body}}}
  </body>

<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
  // Initialize Firebase
  let config = {
    apiKey: "AIzaSyBV6VUDD6TiKUqw_1W-Az92dI3EZ9EX7IA",
    authDomain: "rgi-tool.firebaseapp.com",
    databaseURL: "https://rgi-tool.firebaseio.com",
    projectId: "rgi-tool",
    storageBucket: "",
    messagingSenderId: "830647400900"
  };
  firebase.initializeApp(config);
</script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script> -->
  <script src="/javascripts/d3Tip.js"></script>
  <script src="/javascripts/main.js"></script>
</html>
