<div class="container">
	<h1>{{title}}</h1>
	<p class="explainer">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. </p>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 card" id="chart">
			<div class="row" id="topLabels"></div>
			<div class="row">
				<div class="col-md-3 mb-4 p-0" id="labels"></div>
				<div class="col-md-2 ml-1 mb-4 p-0 card" id="index"></div>
				<div class="col-md-2 ml-2 mb-4 p-0 card" id="valueRealization"></div>
				<div class="col-md-2 ml-2 mb-4 p-0 card" id="revenueManagement"></div>
				<div class="col-md-2 ml-2 mb-4 p-0 card" id="enablingEnvironment"></div>
			</div>
		</div>
		<div class="col-md-6" id="controls">
			<h2 id="dynamicTitle">Dynamic Title</h2>
			<p class="explainer" id="dynamicExplainer">Dynamic Explainer text: But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.</p>
		</div>	
	</div>
	
</div>
